<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{googleanalytics_id}}"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{googleanalytics_id_ga4}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  {% if googleanalytics_linked_domains %}
  gtag('require', 'linker', {'domains': [{% for domain in googleanalytics_linked_domains %}'{{domain}}'{% if not loop.last %},{% endif %}{% endfor %}]});
  {% endif %}
  gtag('js', new Date());

  gtag('config', '{{googleanalytics_id}}', { 'anonymize_ip': true });
  gtag('config', '{{googleanalytics_id_ga4}}', { 'anonymize_ip': true });
</script>
